*{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1{font-size: 30px;
color: #f00;
text-align: center;}

.btn{width: 210px;
margin: 30px auto;}

.btn span{display: block;
float: left;
margin-right: 15px;
width: 80px;
height: 24px;
line-height: 24px;
text-align: center;
color: #fff;
cursor: pointer;
background: #ff9a00;
font-weight: bold;}
